{% extends "base_generic.html" %}

{% block content %}
    <h1>{{author}}</h1>
    <p><strong>Born: </strong>{{author.date_of_birth}}</p>
    {% if author.date_of_death %}
        <p><strong>Died: </strong>{{author.date_of_death}}</p>
    {% endif %}
    <h3>Author of:</h3>
    <ul>
        {% for book in author.book_set.all  %}
        <hr />
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book }}</a>
            <p>{{ book.summary }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}